@import "tailwindcss";

:root {
  --radius: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
  line-height: 1.6;
}

.card {
  border-radius: var(--radius);
}
